h1 {
  color: teal;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(252, 171, 130);
}

img{
  float: left;
}

.sidebar {
  width: 50%;
  float: left;
}

.my-class {
  margin: auto;
  border: 10px black;
  padding: 4px;
  background-color: teal;

}

.centered-image {
  margin: auto;
  width: 25%;
  height: auto;
  display: block;
}