h1 {
  color: teal;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(203, 201, 200);
}

img{
  float: left;
}

.sidebar {
  width: 50%;
  float: left;
}

.my-class {
  margin: 10px;
  border: 2px black;
  padding: 4px;
  background-color: teal;

}

.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}